.form-crm {
    padding: 20px;
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.itens-form {
  margin: 10px;
}

.campo-dinehiro {
  font-size: 1rem;
  height: 25px;max-width: 187px;
}