.container-cards {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  margin: 10px auto;
  border: 1px solid #4f4a4a;
  padding-bottom: 20px;
}

.header-cards {
  display: flex;
  align-self: center;
  justify-content: space-around;
  gap: 40px;
  margin: 20px 10px;
}

.container-cards p {
  margin-bottom: 5px;
  margin-left: 30px;
}

.container-botoes {
  display: flex;
  gap: 10px;
  margin-right: 20px;
  padding-bottom: 10px;
  
}

.botao-excluir {
  max-height: 41px;
  background-color: rgb(157, 5, 5);
}

.titulo-cards {
  font-size: 24px;
  font-weight: 700;
  width:270px;
}