#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  height: 50vh;
  width: 75vw;
}

label {
  margin-right: 10px;
}

.form-crm {
    padding: 20px;
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.itens-form {
  margin: 10px;
}

.label {
  font-weight: bold;
  font-size: 1.2rem;
}

.campo {
  font-size: 1rem;
  height: 25px;
}
